.hideRow {
 opacity: 0; visibility: hidden;
 transition: visibility .2s linear, opacity .2s linear;
}

a.menu, a.menu:hover, a.menu:focus {
    background-color: #38B !important;
    color: #eee;
}
.minWidth {
    width: 45px !important;
    height: 22px  !important;
}
.nofoc:focus {
    outline-width: 0;
}
.menuBig {
    margin-left: 105px !important;
}
.main {
    transition: margin .2s;
    margin-left: 40px;
    overflow-x: hidden;
    padding: 20px;
}
.sidebarBig {
    width: 105px !important;
}
.glyphicon-scissors {
    transform: translateY(-1.5em);
}
.sidebar {
    position: fixed;
    width: 40px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #eee;
}
.sidebar > ul > li.active > a,
.sidebar > ul > li.active > a:hover,
.sidebar > ul > li.active > a:focus {
    color: #aaa;
    cursor: default;
}
.nav > li > a {
    padding: 11px 11px 9px;
    margin-bottom: 15px;
}
h3 { font-size: 140%; text-align: center }
.rsvpBtn { width:70px; padding:2px 2px }
.msg { color:#b22; text-align: center; font-size: 85% }
.No  { background: #b88 }
.Yes { background: #8b8 }
.rsvpRow {
    height:55px;
}
.trans {
    width: 100%;
    background: transparent;
    border: 0px solid;
}

.item1{float:left; width:20%;}
.item2{float:right; text-align:right; width:30%;}

.gone { display: none }

@media print {
  td { padding: 3px !important; }
  body { font-size: 10px }
  .noPrnt { display: none !important; }
  .main { margin-left: 0 !important; }
}
