<div class="container" ng-init="init()">

<h3>Administration Panel</h3>
<br>
<br>

<h3>Add new meal</h3>
<h4>{{ message }}</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Details</th>
      <th>Submit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="date" ng-model="newMealDate" class="form-control" id="newmealdate" placeholder="Date" /></td>
      <td><input type="text" ng-model="newMealDetails" class="form-control" id="newmealdetails" placeholder="Details" /></td>
      <td>
        <button class="btn btn-primary" ng-click="insert_week()">
        <span class="glyphicon glyphicon-save"></span>  Add
        </button>
      </td>
    </tr>
  </tbody>
</table>
<h3>Edit/Delete Meal Details</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Details</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(key, value) in editDetails">
      <td><input type="date" ng-model="editMealDate" class="form-control" id="newmealdate" placeholder="Date"  value="{{ key }}" /></td>
      <td><input type="text" ng-model="editMealDetails" class="form-control" id="newmealdetails" placeholder="Details" value="{{ value.details }}" /></td>
      <td>
        <button class="btn rsvpBtn" ng-click="causeEdit(key)">
          <span class="glyphicon glyphicon-pencil"></span>  Edit
        </button>
      </td>
      <td>
        <button class="btn rsvpBtn" ng-click="causeDelete(key)">
          <span class="glyphicon glyphicon-pencil"></span>  Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
 

</div>