<div ng-init="init()">

<h3>Families</h3>
<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="min">Thaali</th>
      <th>Last name</th>
      <th>First name</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="family in data">
      <td>
        <input type="text" ng-model="family.thaali" class="trans"
               placeholder="thaali" ng-change="onChange()"/>
      </td>
      <td>
        <input type="text" ng-model="family.lastName" class="trans"
               placeholder="Last name" ng-change="onChange()"/>
      </td>
      <td>
        <input type="text" ng-model="family.firstName" class="trans"
               placeholder="First name" ng-change="onChange()"/>
      </td>
      <td>
        <input type="email" ng-model="family.email" class="trans"
               placeholder="Email" ng-change="onChange()"/>
      </td>
      <td>
        <input type="text" ng-model="family.phone" class="trans"
               placeholder="Phone" ng-change="onChange()"/>
      </td>
    </tr>
  </tbody>
</table>

<div class="msg">&nbsp;{{ msg }}</div>
<br>
<div class="text-center">
    <button class="btn btn-default" ng-disabled="!offset" ng-click="next(-10)">
      <span class="glyphicon glyphicon-chevron-left"></span>  Prev
    </button>&nbsp;&nbsp;
  <button class="btn btn-primary" ng-disabled="!changed" ng-click="submit()">
    <span class="glyphicon glyphicon-save"></span>  Save
  </button>&nbsp;&nbsp;
  <button class="btn btn-default" ng-click="next(10)">
    Next  <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>

</div>
