
<div ng-init="init()">

<h3>RSVP for {{ getDisplayDate(date) }}</h3>
<br>
<div class="col-xs-2"><b>Order By: </b>
  <select ng_model="sortColumn">
    <option value='thaali'>Thaali</option>
    <option value='area'>Area</option>
    <option value='size'>Size</option>
    <option value='name'>Name</option>
    <option ng-hide="o.niyaz" value='here'>Here</option>
    <option ng-hide="o.niyaz" value='filled'>Filled</option>
    <option ng-hide="o.niyaz" value='lessRice'>Rice Qty</option>
  </select>
</div>
<div class="pull-right text-right col-xs-7">
    {{ firstLine(o) }}<br>
    {{ secondLine(o) }}
</div>

<table class="table-striped table">
  <thead>
    <tr>
      <th>Thaali</th>
      <th>Area</th>
      <th class="col-xs-1">Size</th>
      <th class="col-xs-1" ng-hide="o.niyaz">Less Rice</th>
      <th class="col-xs-1" ng-hide="o.niyaz">Here</th>
      <th class="col-xs-1" ng-hide="o.niyaz">Filled</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody id="rTab">
    <tr ng-repeat="item in data | orderBy: sorterFunc">
      <td>{{ item["thaali"] }}</td>
      <td>{{ item["area"] }}</td>
      <td>{{ item["size"] }}</td>
      <td ng-hide="niyaz">{{ item["lessRice"] }}</td>
      <td ng-hide="o.niyaz">
        <input type="checkbox" ng-model='item.here' ng_true_value=1 ng_false_value=0 ng-change="onChange()"/>
      </td>
      <td ng-hide="o.niyaz">
        <input type="checkbox" ng-model='item.filled' ng_true_value=1 ng_false_value=0 ng-change="onChange()"/>
      </td>
      <td>{{ item["name"] }}</td>
    </tr>
  </tbody>
</table>

<div class="msg">&nbsp;{{ msg }}</div>
<br>
<div class="noPrnt text-center">
  <button class="btn btn-default" ng-click="next(-1)">
    <span class="glyphicon glyphicon-chevron-left"></span>  Prev
  </button>&nbsp;&nbsp;
  <button class="btn btn-default" ng-show="o.save" ng-click="reset(document.getElementsByTagName('input'))">
      Reset
  </button>&nbsp;&nbsp;
  <button class="btn btn-primary" ng-disabled="!changed" ng-show="o.save" ng-click="submit()">
    <span class="glyphicon glyphicon-save"></span>  Save
    &nbsp;&nbsp;
  </button>
  <button class="btn btn-default" ng-click="next(1)">Next  <span
    class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
</div>
</div>
