<div ng-init="init()">

<h3>Filling Printout</h3>
<br>
<br>
<table class="table-striped table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Thaali</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in printout">
      <td>{{ item["name"] }}</td>
      <td>{{ item["thaali"] }}</td>
      <td>{{ item["notes"] }}</td>
    </tr>
  </tbody>
</table>

<div class="msg">&nbsp;{{ message }}</div>
<br>
<div class="noPrnt text-center">
  <button class="btn btn-default" ng-click="prevDay()">
    <span class="glyphicon glyphicon-chevron-left"></span> Prev Day
  </button>&nbsp;&nbsp;
  <button class="btn btn-default" ng-click="nextDay()">
    Next Day<span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>
</div>

</div>
