<!-- RSVP view -->
<div ng-init="init()">

<h3>RSVP for {{ greet }}</h3>
<br>
<br>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Day</th>
      <th class="col-xs-5">Details</th>
      <th class="col-xs-1">No rice / bread</th>
      <th class="col-xs-1">RSVP</th>
      <th class="col-xs-1">Size / Count</th>
    </tr>
  </thead>
  <tbody>
    <tr class="rsvpRow" ng-repeat="(key, value) in raw">
      <td>{{ getRawDate(key) }}</td>
      <td>{{ value.details }}</td>
      <td>
        <input ng-hide="value.niyaz || !value.enabled" type="checkbox" ng-model='value.lessRice'
         ng-disabled="value.readonly || !value.rsvp"
         ng_true_value=1 ng_false_value=0 ng-change="onRiceChange(key)"/>
      </td>
      <td>
        <button class="rsvpBtn btn" ng-show="value.enabled" ng-disabled="value.readonly"
          ng-class="rsvpLabel(value.rsvp)" ng-click="onRSVPChange(key)">
          {{ rsvpLabel(value.rsvp) }}
        </button>
      </td>
      <td>
        <select ng-hide="value.niyaz" ng_model="value.size" ng-disabled="value.readonly || !value.rsvp"
           ng-change="onSizeChange(key)">
          <option ng-repeat="size in sizes track by $index" ng-value="size">{{size}}</option>
        </select>
        <div ng-show="value.niyaz" class="form-inline">
          <input ng-disabled="value.readonly || !value.rsvp" type="text" ng-model="value.adults"
          class="minWidth form-control" ng-change="onCountChange(key)">
          <label>&nbsp;Adults</label><br>
          <input ng-disabled="value.readonly || !value.rsvp" type="text" ng-model="value.kids"
          class="minWidth form-control" ng-change="onCountChange(key)">
          <label>&nbsp;Kids</label>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="msg">&nbsp;{{ msg }}</div>
<br>
<div class="text-center">
  <button class="btn btn-default" ng-click="next(-7)">
    <span class="glyphicon glyphicon-chevron-left"></span>  Prev
  </button>&nbsp;&nbsp;
  <button class="btn btn-primary" ng-disabled="!changed" ng-click="submit()">
    <span class="glyphicon glyphicon-save"></span>  Save
  </button>&nbsp;&nbsp;
  <button class="btn btn-default" ng-click="next(7)">
    Next  <span class="glyphicon glyphicon-chevron-right"></span>
  </button>
</div>

</div>
